@import url( 'https://fonts.googleapis.com/css2?family=Chango&display=swap');
.navbar-brand {
    font-family: 'Chango', cursive;
    font-size: 2rem;
}
.nav-link {
    color: #111111 !important;
    padding-right: 1rem !important;
}
.nav-link.active,
.dropdown-toggle:hover {
    color: coral !important;
    transition: 0s !important;
}
.dropdown-toggle::after {
    content: url(./da.png);
    border: none !important;
    font-size: 8px;
    position: absolute;
    top: 34%;
}
.dropdown-toggle:hover::after {
    content: url(./dah.png);
}

